@import 'main/main.scss';
header{
    height: 100px;
    .header-ul{
        display: flex;
        justify-content: space-between;
        .logo{
            width: 100px;
            height: 120px;
        }
        .header-ul-div{
            display: flex;
            .header-ul-div{
                display: flex;
            }
            .header-ul-div{
                display: flex;
            }
        }
    }
}